<?php

use Mezzio\Swoole\ConfigProvider;

return array_merge((new ConfigProvider())(), [
	'mezzio-swoole' => [
		'swoole-http-server' => [
			'port' => 8101, // use an integer value here
			'host' => 'docker.for.mac.localhost',
			'mode' => SWOOLE_PROCESS,
			'options' => [
				'worker_num'      => 4, // The number of HTTP Server Workers
				'task_worker_num' => 4, // The number of Task Workers
			],
		],
	],
]);
